.container {  
	display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 6fr;
  gap: 1% 0px;
  grid-auto-flow: row;
}

.A1 { grid-area: 1 / 1 / 11 / 6; border: inherit; }
.A2 { grid-area: 1 / 5 / 11 / 11; border: inherit; }
.Logo { grid-area: 1 / 2 / 2 / 6; border: inherit; }
.Login { grid-area: 10 / 2 / 11 / 4; border: inherit; }
.Pics { grid-area: 2 / 5 / 8 / 11; border: inherit; }
.A3 { grid-area: 8 / 6 / 9 / 10; border: inherit; }
.A4 { grid-area: 9 / 6 / 10 / 10; border: inherit; }
.sign-up-Contact { grid-area: 11 / 1 / 11 / 12; border: inherit; border: 1px solid white; }
.Sign-up { grid-area: 2 / 2 / 10 / 4; border: inherit; }

.sign-up-heading {
  font-style: normal;
  font-weight: 150;
  font-size: calc(2vw + 2vh);

  letter-spacing: 0.1px;
  color: #2B2B43;
  line-height: 0%;
}

.sign-up-text {
  font-style: normal;
  font-weight: 100;
  font-size: calc(0.5vw + 0.5vh);

  letter-spacing: 0.1px;
  color: #545563;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
	width: 100%;
}

.input-label {
	font-style: normal;
	font-weight: 100;
	font-size: 1rem;
	color: #545563;
}

.input-box {
	border: 1px solid #C7C8D2;
	border-radius: 1rem;
	height: calc(1.5vw + 1.5vh);
}

.input-checkbox {
	width: 1.2rem;
	height: 1.2rem;
}

.checkbox-container {
	display: block;
}

.submit-button {
	background: radial-gradient(circle, rgba(55, 171, 200, 1) 0%, rgba(93, 193, 218, 1) 100%);
	border-radius: 1rem;
	height: calc(1.5vw + 1.5vh);

	font-size: 1.1rem;
	color: #FFFFFF;
}

.submit-button:hover {
	color: #1d7e96;
	transition: 200ms ease-in;
}

.button-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.Login {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.login-question {
  font-style: normal;
  font-weight: 100;
  font-size: calc(0.5vw + 0.5vh);

  letter-spacing: 0.1px;
  color: #545563;
}

.login-button {
	background-color: #FFFFFF;
	color: #37ABC8;
	font-weight: bold;
	font-size: calc(0.45vw + 0.45vh);

	border: none;
	height: 0%;
}


.login-button:hover {
	color: #1d7e96;
	transition: 200ms ease-in;
}

.logo-img {
	width: 20%;
}

.A2 {
	background: radial-gradient(circle, rgba(55, 171, 200, 1) 20%, rgba(93, 193, 218, 1) 100%);
}

.Pics {
	position: relative;
}

.presentation-img-1 {
	position: absolute;
	left: 10%;
	top: 0%;

	z-index: 1;
	border-radius: 10%;
	width: calc(18.5vw + 18.5vh);
}

.presentation-img-4 {
	position: absolute;
	left: 45%;
	top: 25%;

	z-index: 1;
	border-radius: 10%;
	width: calc(12.5vw + 12.5vh);
}

.presentation-img-6 {
	position: absolute;
	left: 17%;
	top: 50%;

	z-index: 0;
	border-radius: 5%;
	width: calc(15.5vw + 15.5vh);
}

.A3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.presentation-message-1 {
	font-size: calc(0.8vw + 0.8vh);
	font-weight: 100;
	letter-spacing: 0.1px;
	color: #FFFFFF;
}

.A4 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.presentation-message-2 {
	font-weight: 100;
	letter-spacing: 0.1px;
	color: #FFFFFF;
	text-align: center;
}